<div class="contato-container">
    <div class="contato-description">
        <p class="txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac urna vehicula, tincidunt purus a, imperdiet ipsum. Vestibulum ut porttitor justo. Nullam sagittis erat ut laoreet bibendum. In varius convallis sapien, sit amet tempor leo porta id. Nulla
            rhoncus ac felis eget consequat. Sed feugiat tortor ligula, in vulputate orci volutpat ac. Mauris porttitor tempor urna ut ultrices. Aenean lacus eros, viverra eget ante et, mattis luctus ligula. Vestibulum mattis ultricies diam ut dictum.
            Morbi eu sollicitudin massa, vitae ornare dui.
        </p>

        <a routerLink="/contato" class="email">Mande um email para XXXXXXXXX@email.com.br</a>
    </div>
    <img src="assets/img/banner1.png">

</div>
