.quem-somos {
  display: flex;
  width: 60%;
  margin: 0 auto;

  .quem-somos-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;

    .txt {
      font-size: 20px;
      font-weight: 400;
    }

    .instagram-link {
      padding: 10px;
      border: 1px solid gold;
      background-color: rgb(226, 200, 48) !important;
      color: black;
      font-weight: bold;
      text-align: center;
      border-radius: 10px;
      font-size: 20px;
    }
  }

  img {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .quem-somos {
    width: 95%;
    flex-direction: column-reverse;

    .quem-somos-description{
      margin: 0;
    }

    img {
      margin: 0 auto;
    }
  }
}
